@page "/servicos"

<div class="page-container">
    <h1>Serviços</h1>
    <p>Confira abaixo os principais serviços que oferecemos:</p>

    <div class="services-grid">
        <div class="container-services">

            <div class="service-card">
                <img src="/images/i4.jpg" alt="Troca de visores" class="service-icon">
                <h3>Troca de Visores</h3>
                <p>Substituímos visores com agilidade e precisão.</p>
            </div>

            <div class="service-card">
                <img src="/images/i9.jpg" alt="Reparação de digitais" class="service-icon">
                <h3>Reparação de Digitais</h3>
                <p>Resolvemos problemas de sensores e telas touch.</p>
            </div>

            <div class="service-card">
                <img src="/images/i4.jpg" alt="Venda de acessórios" class="service-icon">
                <h3>Venda de Acessórios</h3>
                <p>Capas, carregadores, fones e muito mais.</p>
            </div>
        </div>
    </div>
</div>
