@inherits LayoutComponentBase
<!-- Font Awesome -->

<div class="page">
    <header class="navbar">
        <NavMenu />
    </header>
    <!-- Navegação Lateral (bolhas) -->
    

    <div class="side-dots">
        <a href="#services" class="dot" title="Serviços"></a>
        <a href="#why-choose-us" class="dot" title="Diferenciais"></a>
        <a href="#contact" class="dot" title="Contacto"></a>
    </div>

    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>
    </main>
    
    <footer>
        <Footer />
    </footer>
</div>


