<!-- Navbar -->
<header class="navbar">
    <div class="container">
        <h1 class="logo">
            <a href="/"> 
                <img src="/favicon.png" class="logo-image" alt="">
                Balangola
            </a>
        </h1>
        <nav>
            <a href="/servicos">Serviços</a>
            <a href="/contactos">Contato</a>
            <a href="/sobre">Sobre</a>
        </nav>
    </div>
</header>
